<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/projetoclinica</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    
    <property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">10</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">25</property>
		<property name="hibernate.c3p0.idle_test_period">30</property>

		<!-- Geração das tabelas -->
		<property name="hbm2ddl.auto">create</property>

		<!-- Mostrar Codigo SQl -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<!-- Classes anotadas -->
		
		<mapping class="modelBeans.Estado"/>
		<mapping class="modelBeans.Cidade"/>
                <mapping class="modelBeans.Pessoa"/>
               
                

    
  </session-factory>
</hibernate-configuration>
